@model MvcApplication1.Models.classes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>classes</legend>

    <div class="display-label">titre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titre)
    </div>

    <div class="display-label">Identification</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Identification)
    </div>

    <div class="display-label">Equipement</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equipement)
    </div>

    <div class="display-label">TactiqueCombat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TactiqueCombat)
    </div>

    <div class="display-label">Partenaire</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Partenaire)
    </div>

    <div class="display-label">VaisseauxId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VaisseauxId)
    </div>

    <div class="display-label">AffiliationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AffiliationId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
